@import './vars.scss';

.card-body{
    background-color: $azulClaro;
}
.card-header{
    background-color: $azulOscuro;
    color: #fff;
}
.products{
    background-color:$fondoClaro;
    color: #fff;
    
}
