
$fondoMasOscuro:#16002C;
$fondoOscuro: #210042;
$fondoClaro:#27004D;
$verdeClaro: #A5E819; 
$salmon: #C2966B;
$rosado: #CB8081;
/* Estilos de letras */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Arvo&family=Bungee+Shade&display=swap');
$font-family-sans-serif: 'ABeeZee', sans-serif;
$font-family-serif: 'Arvo', serif;
$font-family-display: 'Bungee Shade', cursive;