
.mega-menu{
    background-color:transparent;
    border: none;

}

.dropdown:focus .dropdown-menu{
    display:block;
}

.dropdown-item{
    padding: 12px 40px 12px 20px;
    transform : translateY(-11px), translateX();
    font-size: 15px;
    font-family: arial;
    color: white;
    font-weight: lighter;
    background-color: #232323;
    border: 1px solid black;
    transform-origin: center;

}

@keyframes rotate{
    0%{transform:perspective(600px) rotate(0deg); transform-origin:center;}
    100%{transform:perspective(600px) rotate(360deg); transform-origin:center;}
}

.dropdown-item:nth-of-type(1){
    animation-delay: 0s;
}

.dropdown-item:nth-of-type(2){
    animation-delay: 0s;
}

