@import url(https://fonts.googleapis.com/css2?family=ABeeZee&family=Arvo&family=Bungee+Shade&display=swap);@import url(https://fonts.googleapis.com/css2?family=Russo+One&display=swap);/* Estilos de letras */

.card-body {
  background-color: #1484ee;
  color: #fff;
}

.card-body .card-title {
  color: #A5E819;
}

.card-body .card-label {
  color: #CB8081;
}

