body{
        /* background: linear-gradient(
            to right, #2ed573, #f9ca24

        ); */
        overflow-x: hidden;

}

.container{
    background: #ffffff;
    width: 800px;
    height: 490px;
    margin: auto;
    position: sticky;
    box-shadow: 2px 5px 20px rgba(119 ,119,119,.5);
    
}

.leftbox{
    float:left;
    top:-5%;
    left:5%;
    position: relative;
    width: 15%;
    height: 110%;
    background: #2ed573;
    box-shadow: 3px 5px 20px rgba(119 ,119,119,.5);
    border: .1em solid white;
}

.rightbox{
    width: 60%;
    margin-left: 270px;
    
}

.rightbox h1{
    font-family: 'Courier New', Courier, monospace;
    color: #2ed573;
    font-size: 1.2rem;
    margin-top: 40px;
    margin-bottom: 35px;
}
.rightbox p{
    border: 0;
    border-bottom: 1px solid green;
    width: 80%;
    font-family: sans-serif;
    font-size: .7em;
    padding:   7px 0;
    color: #070707;
    outline: none;
}


.rightbox h2{
    color: gray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 1px;
    margin-left: 2px;
    margin-top: 10px;
}

.tabShow {
    transition: all .5s ease-in;
    width: 70%;
}

.user_settings a {
    list-style: none;
    padding:40px;
    color:#fff;
    font-size: 1.1em;
    display: block;
    transition: all .3s ease-in-out;
} 
.user_settings a img{
    width: 40px;
    height: auto;
    transition: all .3s ease-in-out;
} 

.user_settings a:hover{
    background-color: white;
    cursor: pointer;
    transform: scale(1.2);
}

.user_settings:first-child {
    margin-top: 50px;
}

.user_settings a.active{
    background-color: black;

}