body{
    background-color: #353535;

}
#wishListModal{
    background-color: hsla(184,98%,83%,0.4);
    border: blue;

}

.modal-header{
    background-color: black;
    color: #ff0077;
}

.modal-content{
    background-color: black;
    color: #ff0077;
}

#close_button{
    background-color: black ;
    border: 1px solid #ff0077;
    color: #ff0077;
}

#close_button:hover {
    background-color:#ff0077 ;
    color: black;
}

#closeIcon {
    color:#ff0077;
}

#create_wish_list{
    background-color: black ;
    border: 1px solid #FF9000;
    color:#FF9000;

}
#create_wish_list:hover{
    background-color: #FF9000 ;
    border: 1px solid #FF9000;
    color: black;

}

.single-videogame{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-videogame{
    flex-basis:50%;
    min-width: 300px;
}

.col-videogame h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: #4C4A4C;
}
.col-videogame h4{
    color: #555;
    font-weight: normal;    
}
.col-videogame img{
    max-width: 400px;
    padding: 20px 0;
}
.btn-videogame{
    display: inline-block;
    background:#ff0077;
    color: #fff;
    padding: 8px 30px;
    margin: 30px;
    border-radius: 30px;
}
.btn-wishlist{
    display: inline-block;
    background:aqua;
    color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
}

.single-videogame{

    display:flex;
    align-items: center;

}
.single-videogame .col-videogame img{
    padding: 0;
    margin-right: 100px;
    transform: translateX(100px);
}
.single-videogame .col-videogame {
    padding: 20px;
}
.single-videogame h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
    color: grey;
}
.single-videogame h3{
    margin: 20px 0;
    font-size: 22px;
    color: grey;
}

.single-videogame input {
    width: 60px;
    height: auto;
    padding-left:10px ;
    font-size:20px ;
    margin-right: 10px;
    border-radius: 20px;
    border: 1px solid #2d9fd9;
}
.single-videogame input:focus {

    border: 1px solid #2d9fd9;
}

/* .card, .card-body {
    background-color: black;
    border: 1px solid aqua;
    color: white;
}
.card-title, .card-label{
    color: #FF9000;
}

small, .add-comments{
    color: #FF9000;
} */
