body{
    background-color: #353535;

}
#wishListModal{
    background-color: hsla(184,98%,83%,0.4);
    border: blue;

}

.modal-header{
    background-color: black;
    color: #ff0077;
}

.modal-content{
    background-color: black;
    color: #ff0077;
}

#close_button{
    background-color: black ;
    border: 1px solid #ff0077;
    color: #ff0077;
}

#close_button:hover {
    background-color:#ff0077 ;
    color: black;
}

#closeIcon {
    color:#ff0077;
}

#create_wish_list{
    background-color: black ;
    border: 1px solid #FF9000;
    color:#FF9000;

}
#create_wish_list:hover{
    background-color: #FF9000 ;
    border: 1px solid #FF9000;
    color: black;

}

.single-videogame{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-videogame{
    min-width: 300px;
    margin-right: 5px;
}

.col-videogame h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: #FFF;
}
.col-videogame h4{
    color: #FFF;
    font-weight: normal;
}
.col-videogame small{
    color: #FFF;
    font-weight: normal;
}
.col-videogame img{
    max-width: 400px;
    padding: 20px 0;
    
}

.btn-videogame{
    position: relative;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    
    border: 2px solid #ff0077;
    text-transform: uppercase;
    overflow: hidden;
    
    transition: 1s all ease;
}
.btn-videogame::before{
    background: #ff0077;
    content: "";
    position: absolute;
    top: 50%;
    left:50%;
    
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
}
.btn-videogame::before{
    width: 0;
    height: 100%;
}
.btn-videogame:hover::before{
    width: 100%;
    
}
.btn-wishlist{
    position: relative;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    
    border: 2px solid aqua;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
}
.btn-videogame:hover,.btn-wishlist:hover{
    border: 2px transparent;
}
.btn-wishlist::before{
    background: aqua;
    content: "";
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
    width: 0;
    height: 100%;
}
.btn-wishlist:hover::before{
    width: 100%;
}
.single-videogame{

    display:flex;
    align-items: center;

}
.single-videogame .col-videogame img{
    padding: 0;
    margin-right: 100px;
    transform: translateX(100px);
}
.single-videogame .col-videogame {
    padding: 20px;
}

.single-videogame h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
    color: grey;
}
.single-videogame .details {
    margin: 20px 0;
    font-size: 14px;
    font-weight: bold;
    color: grey;
}
.single-videogame h3{
    margin: 20px 0;
    font-size: 22px;
    color: grey;
}

.single-videogame input {
    width: 60px;
    height: auto;
    padding-left:10px ;
    font-size:20px ;
    margin-right: 10px;
    border-radius: 20px;
    border: 1px solid #2d9fd9;
}
.single-videogame input:focus {

    border: 1px solid #2d9fd9;
}

.view-comments {
    margin: auto;
    width: 10in;

}

/* .card, .card-body {
    background-color: black;
    border: 1px solid aqua;
    color: white;
}
.card-title, .card-label{
    color: #FF9000;
}

small, .add-comments{
    color: #FF9000;
} */
